git+https://github.com/Tinkoff/invest-python.git
python-dotenv
pandas
grpcio==1.63.0      # фиксируем рабочую версию gRPC
tinkoff-investments
requests
pytelegrambotapi
python-dotenv
transformers
langdetect>=1.0.9
torch>=2.3
torch
openai>=1.25.0
redis>=5.0.0
aiosqlite>=0.19.0
nest-asyncio
nlp
aiohttp>=3.9
async_timeout>=4.0
cachetools>=5.3
tailer
psutil
psutil
python-telegram-bot