git+https://github.com/Tinkoff/invest-python.git
python-dotenv
requests
python-telegram-bot==20.8
tinkoff-investments==0.2.0b59
openai==1.25.0
pandas
numpy
redis
aiohttp
async_timeout
cachetools
aiosqlite